@model EhrWeb.ViewModels.PatientListViewModel

@{
    ViewBag.Title = "PatientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PatientList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            PIN
        </th>
        <th>
            PatientName
        </th>
        <th>
            Birthday
        </th>
        <th>
            NIC
        </th>
        <th>
            Gender
        </th>
        <th>
            JoinedDate
        </th>
        <th>
            UpdatedDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PatientCollection) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
